.avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: -50px;
    border:1px dotted red;
    text-align: center;
    padding: 10px;
    
}
.avatar:first-child{
    margin-left: 50px;
}
.content{
    background-color:blue;
    margin: 0 auto;
    height: 150px;
    width: 400px;
}
body{
    background-color:yellow;
}

.parent {
    width: 2em;
    height: 2em; 
    font-size: 2em; 
    
}
