body {
    background-color: blue;
}

h1 {
    font-size: xx-large;
    text-align: center;
    
}

p.text {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    border: 4px solid black;
    box-shadow: 1cm;
    
}
h2.text {
    color: blue ;
    text-align: center;
}
#title{
    border-radius: 50px;
    border: 4px solid black;
}
.fotos {
    padding: 50px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: fit-content;
    border: 4px solid black;
  
}
.fotos:hover img {
    /* Di chuyển sang phải 2px khi di chuột vào */
  transform: translateX(2px) scale(1.1);
  
}

    

    



