input:focus,textarea:focus {
  border-style: solid;
  border-color: yellowgreen;
  outline:none;
}
input:invalid ,select:invalid, textarea:invalid  {
  border-color: red;

}
input:valid , select:valid, textarea:valid{
  border-color: green;

}
body{
  font-family: Arial,san-serif;
  font-weight: bold;
  background-color: grey;
}
.container {
  background-color: white;
  max-width : 650px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 2px 2px 5px;

}
label{
  display : block;
  margin-bottom: 5px;
  font-weight : bold;
  text-decoration: underline;
}

input,textarea,select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing : border-box;
}

button{
  background-color: green;  
  border-radius: 5px;
  width:100%;
  padding: 10px;
  color: white;
  font-size: 15px;
}
button:hover{
  background-color:blue;
}
.radio-group{
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.radio-group input[type="radio"]{
  width:20px;
  appearance:none;
  border-radius: 50%
}
.radio-group input[type="radio"]:checked{
border-color: green;
background-color: green;
box-shadow:inset 0 0 0 4px white;
}

.radio-group input[type="radio"]:checked + label{
  color: green;
}

input:first-of-type {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px
}